<section class="grid_work"> <!-- grid container -->
    <ul class="nav_filter">
        <li><a href="#"> all </a></li>
        <li><a href="#"> app </a></li>
        <li><a href="#"> website </a></li>
        <li><a href="#"> interaction </a></li>
    </ul>
    <a href="#" class="grid_project1"> <!-- grid container for work #1 -->
        <picture style="background-image: url('../../assets/images/work1.PNG');"></picture>
        <div class="category"> script </div>
        <div class="title"> grade calculator </div>
        <div class="year"> 2023 </div>
    </a>
    <a href="#" class="grid_project2"> <!-- grid container for work #2 -->
        <picture style="background-image: url('../../assets/images/work2.jpg');"></picture>
        <div class="category"> photoshop </div>
        <div class="title"> logo design </div>
        <div class="year"> 2023 </div>
    </a>
    <a href="#" class="grid_project3"> <!-- grid container for work #3 -->
        <picture style="background-image: url('../../assets/images/work3.jpg');"></picture>
        <div class="category"> photoshop </div>
        <div class="title"> web header </div>
        <div class="year"> 2023 </div>
    </a>
    <a href="#" class="grid_project4"> <!-- grid container for work #4 -->
        <picture style="background-image: url('../../assets/images/work4.jpg');"></picture>
        <div class="category"> photoshop </div>
        <div class="title"> glossy buttons </div>
        <div class="year"> 2023 </div>
    </a>
    <a href="#" class="grid_project5"> <!-- grid container for work #5 -->
        <picture style="background-image: url('../../assets/images/work5.PNG');"></picture>
        <div class="category"> web design </div>
        <div class="title"> weapon shop </div>
        <div class="year"> 2023 </div>
    </a>
    <a href="#" class="grid_project6"> <!-- grid container for work #6 -->
        <picture style="background-image: url('../../assets/images/work6.PNG');"></picture>
        <div class="category"> web design </div>
        <div class="title"> physics </div>
        <div class="year"> 2023 </div>
    </a>
    <a href="#" class="grid_project7"> <!-- grid container for work #7 -->
        <picture style="background-image: url('../../assets/images/work7.jpg');"></picture>
        <div class="category"> photoshop </div>
        <div class="title"> ai poster </div>
        <div class="year"> 2023 </div>
    </a>
    <a href="#" class="grid_project8"> <!-- grid container for work #8 -->
        <picture style="background-image: url('../../assets/images/work8.PNG');"></picture>
        <div class="category"> web design </div>
        <div class="title"> e-commerce </div>
        <div class="year"> 2023 </div>
    </a>
    <a href="#" class="grid_project9"> <!-- grid container for work #9 -->
        <picture style="background-image: url('../../assets/images/work9.PNG');"></picture>
        <div class="category"> script </div>
        <div class="title"> online sabong </div>
        <div class="year"> 2023 </div>
    </a>
    <div class="btton_containr">
        <button class="more" id="more work button"> load more work </button>
    </div>
</section>
