<div class="hero-container">
    <section class="grid_top">
        <p class="intro"> Hello, I'm </p>
        <p class="name"> Vincent Manalo </p>
        <p class="job"> Front-End Developer </p>
        <div class="socials">
            <div class="icon_fb" id="facebook icon"></div>
            <div class="icon_ig" id="instagram icon"></div>
            <div class="icon_twt" id="tweeter icon"></div>
        </div>
        <div class="buttons">
            <button class="hireMe" id="bttn_hireMe2"> hire me </button>
            <button class="resume" id="resume button"> see my resume </button>
        </div>
        <div class="right">
            <div class="profile1"></div>
        </div>
    </section>
</div>
