<section class="aboutMe_grid">
    <div class="left">
        <div class="profile2"></div>
    </div>
    <div class="header1"> about me </div>
    <div class="header2"> skills </div>
    <div class="body">
        <div class="flex flex-row">
            <div class="icon_fb" id="facebook icon"></div>
            <div>
                <p> Angular </p>
                <div>
                    <div></div>
                </div>
            </div>
        </div> 
        <div class="icon_ig" id="instagram icon"></div>
        <div class="icon_twt" id="tweeter icon"></div>
        <div class="java-logo" id="tweeter icon"></div>
    </div>
</section>