<section class="aboutMe_grid">
    <div class="left">
        <div class="profile2"></div>
    </div>
    <div class="header1"> about me </div>
    <div class="header2"> skills </div>
    <div class="body">
        <div class="flex flex-row">
            <div class="icon_fb" id="facebook icon"></div>
            <div>
                <p> Angular </p>
                <div class="w-[300px] h-[10px] border border-solid border-sky-300 mt-[4px]">
                    <div class="bg-sky-300 w-[100px] h-full"></div>
                </div>
            </div>
        </div> 
        <div class="flex flex-row">
            <div class="icon_ig" id="instagram icon"></div>
            <div>
                <p> React</p>
                <div class="w-[300px] h-[10px] border border-solid border-sky-300 mt-[4px]">
                    <div class="bg-sky-300 w-[200px] h-full"></div>
                </div>
            </div>
        </div> 
        <div class="flex flex-row">
            <div class="icon_twt mr-[10px]" id="tweeter icon"></div>
            <div>
                <p> Python </p>
                <div class="w-[300px] h-[10px] border border-solid border-sky-300 mt-[4px]">
                    <div class="bg-sky-300 w-[200px] h-full"></div>
                </div>
            </div>
        </div> 
        <div class="flex flex-row">
            <div class="java-logo mr-[10px]" id="tweeter icon"></div>
            <div>
                <p> Java </p>
                <div class="w-[300px] h-[10px] border border-solid border-sky-300 mt-[4px]">
                    <div class="bg-sky-300 w-[50px] h-full"></div>
                </div>
            </div>
        </div> 
    </div>

    <!-- ----- other skillsss ----- -->
    <!-- <div style="grid-area: 5/2/6/3; display: flex; flex-direction: row;">
        <p class="border border-solid border-sky-300 py-[2%] px-[4%] w-auto decoration-sky-300" style="width: 100px; text-align: center; border-radius: 50px; color: skyblue;"> Active Listener </p>
        <p class="border border-solid border-sky-300 py-[2%] px-[4%] w-auto decoration-sky-300" style="width: 100px; text-align: center; border-radius: 50px; color: skyblue;"> Time Management </p>
        <p class="border border-solid border-sky-300 py-[2%] px-[4%] w-auto decoration-sky-300" style="width: 100px; text-align: center; border-radius: 50px; color: skyblue;"> Active Listener </p>
    </div> -->
</section>