label { font-weight: bold; }
.submit-btn {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}
.submit-btn:hover {
    color: var(--bs-btn-hover-bg);
    background-color: var(--bs-btn-hover-color);
    border-color: var(--bs-btn-hover-border-color);
}