label { font-weight: bold; }
.submit-btn {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}
.submit-btn:hover {
    @apply bg-blue-900
}

.container-todo { @apply w-[320px] h-[88%] rounded-md bg-white }
.completed { @apply line-through }
li { @apply text-red-800 }