<!-- fullscreen container -->
<div class="h-screen w-screen flex flex-row gap-x-[8px] items-center justify-center">
    <!-- ang form mismo -->
    <div class="bg-white w-fit p-[32px] flex flex-column items-center justify-center rounded-[16px] shadow-sm">
        <form class="form-group flex flex-column items-center justify-center">
            <label> ToDo List </label>
            <input type="text" class="form-control text-center my-[16px]" placeholder="Enter Task" [formControl]="task"/>
        </form>
        <p> {{ validation }} </p>

        <button class="submit-btn btn btn-primary" (click)="onSubmit()" [disabled]="task.invalid">Submit</button>
    </div>

    <!-- todo list -->
    <div class="bg-white w-[280px] h-[220px] rounded-[16px] shadow-sm p-[32px]">
        <ul *ngIf="task_list && task_list.length > 0">
            <li *ngFor="let todo of task_list"> {{ todo }} </li>
        </ul>
    </div>
</div>
