/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding-bottom: 0;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('./assets/fonts/Montserrat-Bold.woff2');
}
@font-face {
    font-family: 'Montserrat Regular';
    src: url('./assets/fonts/Montserrat-Regular.woff2');
}
@font-face {
    font-family: 'Montserrat Light';
    src: url('./assets/fonts/montserrat-light.woff2');
}